:root {
  background-color: var(--pico-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 1rem;
  --pico-border-radius: 0.5rem;
  --pico-font-size: 80%;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;

  --sheet-top-margin: 3rem;
  --sheet-background-scale-amount: 10px;
  --sheet-background-border-radius: 10px;
  --sheet-easing: cubic-bezier(0.32, 0.72, 0, 1);

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--pico-background-color);
  min-height: 100vh;
}

.background {
  --color-1: grey;
  --color-2: transparent;

  position: absolute;

  height: 100%;
  width: 100%;

  background: linear-gradient(var(--color-1) 2px, transparent 2px),
    linear-gradient(90deg, var(--color-1) 2px, transparent 2px),
    linear-gradient(var(--color-1) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-1) 1px, var(--color-2) 1px);
  background-size: 250px 250px, 250px 250px, 50px 50px, 50px 50px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  mask-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.05) 20%,
    transparent
  );
}

main {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  padding-inline: 1rem;
  margin: auto;
  padding-bottom: 10vh;
}

.intro {
  margin-top: 25vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

/* @keyframes prevent-scroll {
  from {
    opacity: 0;
  }
}

input:focus {
  animation: prevent-scroll 10ms forwards;
} */

h1 {
  font-size: 5rem;
  font-weight: 600;
}

dialog {
  display: block;

  background-color: var(--pico-background-color);
  margin: 0;
  padding-block: 0;

  max-width: none;
  height: auto;
  min-height: auto;

  transition: max-height 100ms;

  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .content {
    padding-inline: 1rem;
    max-width: 450px;
    margin: auto;
  }

  input {
    --pico-form-element-spacing-vertical: 0.75rem;
    display: block;
  }
}

button.handle.secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0;
  border: none;
  cursor: grab;
  box-shadow: none;
  border-radius: 0;

  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--pico-background-color);
}

pre {
  width: 100%;
  margin-bottom: 5vh;
}

dialog:not([open]) {
  display: block;
}

dialog {
  transform: translateY(100vh);
  transition: all 500ms var(--sheet-easing);
  transition-behavior: allow-discrete;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 25%);
  opacity: 0;
  transition: all 500ms var(--sheet-easing) allow-discrete;

  /**
  * Needed
  */
  touch-action: none;
}

dialog[open] {
  transform: translateY(0);
}

dialog[open]::backdrop {
  opacity: calc(1 - var(--amount, 0));
}

/* @starting-style {
  dialog[open] {
    transform: translateY(100vw);
  }

  dialog[open]::backdrop {
    opacity: 0;
  }
} */
